@font-face {
  font-family: Logofont;
  src: url(../fonts/Rookies_Showtimes.otf);
}
/* BASINSTÄLLNINGAR*/
body {
  background-color: #1a1a1a;
  background-image: url("../images/twinkle_twinkle_@2X.png");
}
.hidden {
  display: none;
}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
.clearfix {
  clear: both;
}
* {
  box-sizing: border-box;
  font-family: "open sans", arial;
  font-weight: 200;
}
input[type="submit"] {
  background-color: white !important;
  border: 0px solid;
  padding: 5px 10px;
  height: 20px;
}
input[type="submit"]:hover {
  background-color: #4dc2ff !important;
}
button {
  cursor: pointer;
  background-color: white !important;
  border: 0px solid;
  padding: 5px 10px;
  height: 20px;
}
button:hover {
  background-color: #4dc2ff !important;
}
/* TEXT-INSTÄLLNINGAR */
p {
  font-family: "open sans", arial;
  font-size: 14px;
}
h2 {
  font-family: "open sans", arial;
  font-size: 30px;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
}
a {
  font-weight: 400;
  color: black;
  text-decoration: none;
}
a:hover {
  color: #4dc2ff;
}
/* LOGIN PAGE */
body#loginpage {
  background: url(../images/bgsilver.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.loginform {
  position: absolute;
  top: 10%;
  left: 100px;
}
#login input[type="text"],
#login input[type="password"] {
  margin-bottom: 10px;
  height: 100px;
  width: 500px;
  font-size: 50px;
  padding: 20px;
  border-color: #1a1a1a;
  box-shadow: 0px;
  border-style: solid;
  border-width: 2px;
  background-color: rgba(200, 200, 200, 0) !important;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgba(200, 200, 200, 0) inset;
}
strong {
  font-weight: 400;
}
#login button {
  width: 500px !important;
  height: 50px !important;
  background-color: #ffe681;
  border: 0px solid;
  font-size: 20px;
  color: #1a1a1a;
  text-transform: uppercase;
  transition: 0.3s ease;
  letter-spacing: 3px;
}
#login button:hover {
  background-color: #4dc2ff;
}
.logocontain {
  height: 900px;
}
h1.logo {
  font-family: "logofont";
  font-size: 900px;
  margin: 0px;
  position: absolute;
  right: -10px;
  margin-bottom: 0px;
  height: 100%;
  color: $;
  font-weight: 100;
}
.loginform p {
  font-size: 17px;
  line-height: 150%;
  width: 500px;
}
.loginform p.member {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 5px;
  font-weight: 800;
}
input:focus {
  outline: none;
}
section#loginform {
  overflow: hidden;
}
section#member-box {
  width: 700px;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 200px;
  padding: 40px;
  padding-bottom: 80px;
}
section#member-box table {
  margin: 0 auto;
}
section#member-box input[type="text"],
section#member-box input[type="password"] {
  width: 300px;
  height: 40px;
  font-size: 20px;
}
section#member-box input[type="submit"] {
  width: 100%;
  height: 30px;
  background-color: #ffe681 !important;
}
section#member-box input[type="submit"]:hover {
  background-color: #4dc2ff !important;
}
.signup {
  cursor: pointer;
}
span.signup {
  font-weight: bolder;
}
span.signup:hover {
  color: #4dc2ff;
}
/* PAGE */
.navigation-menu {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.navigation-menu a {
  margin-right: 60px;
  color: white;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
}
.navigation-menu a:last-child {
  margin-right: 0px;
}
.navigation-menu a:hover {
  color: #4dc2ff;
}
#right-sidebar {
  left: 0;
  top: 0;
}
#left-sidebar {
  right: 0;
  top: 0;
}
.sidebar {
  width: 330px;
  position: fixed;
  background-color: none;
  overflow: hidden;
  position: absolute;
  font-weight: bold;
}
.sidebar h3 {
  font-weight: bold;
  font-size: 15px;
  float: left;
}
.left-flik,
.right-flik {
  background-color: #ffe681;
  margin-top: 50px;
  height: auto;
  overflow: auto;
  position: relative;
  cursor: pointer;
  padding: 20px;
  text-transform: uppercase;
  display: table;
}
.left-flik p,
.right-flik p {
  margin-bottom: 0px;
}
.left-flik {
  left: 230px;
  position: relative;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.right-flik {
  right: 230px;
  position: relative;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#left-sidebar i.icon {
  font-size: 50px;
  color: white;
}
#left-sidebar i.icon:hover {
  color: black;
}
#right-sidebar i.icon {
  font-size: 50px;
  color: white;
}
#right-sidebar i.icon:hover {
  color: black;
}
#searchResult h3 {
  float: none !important;
  margin: 5px;
}
#searchResult {
  margin-top: 15px;
}
.left-flik .row1 {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-left: 10px;
  width: 20%;
  top: 20%;
}
.left-flik .row2 {
  display: table-cell;
  width: 70%;
  padding-left: 20px;
}
.right-flik .row2 {
  position: relative;
  display: table-cell;
  width: 80%;
  top: 20%;
  width: 100%;
  padding-right: 20px;
}
.right-flik .row1 {
  display: table-cell;
  vertical-align: middle;
  padding-right: 10px;
  width: 20%;
}
.sidebar input[type="text"] {
  width: 90%;
  height: 20px;
  margin-bottom: 0px;
}
.sidebar textarea {
  width: 200px;
  height: 100px;
  font-size: 15px;
  padding: 10px;
}
.sidebar input[type="submit"] {
  background-color: white !important;
  border: 0px solid;
  padding: 5px 10px;
  height: 30px;
  margin-top: 5px;
}
.sidebar input[type="submit"]:hover {
  background-color: #4dc2ff !important;
}
#left-sidebar input[type="submit"] {
  float: left;
  margin-top: 5px;
}
.uploadFileButton:hover::before {
  background-color: #4dc2ff;
}
.uploadFileButton {
  width: 200px;
}
#counter {
  float: right;
  padding: 15px;
}
.hashtags {
  background-color: white;
  padding: 0px;
  margin-bottom: 5px;
  display: block;
  width: 90%;
  font-size: 13px;
}
.hashtags:hover {
  background-color: #4dc2ff;
}
.hashtags a {
  font-size: 11px;
  color: black;
}
h4.trending {
  transform: rotate(-90deg);
  font-size: 30px;
  color: white;
}
h4.trending:hover {
  color: black;
}
#trending {
  display: block !important;
}
#trending h4 {
  text-align: center;
}
#trending .row2 {
  width: 80%;
  display: inline-block;
  float: left;
}
#trending .row1 {
  width: 20%;
  display: inline-block;
  float: left;
  margin-top: 60px;
}
.notNo {
  font-size: 50px;
  margin: 0px;
  color: red;
  font-weight: 900;
}
img.logo {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
}
#wrapper {
  width: 45%;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}
#wrapper h1 {
  text-align: center;
}
#wrapper h2 {
  color: white;
  letter-spacing: 10px;
  font-size: 20px;
  margin: 0px;
  padding: 10px;
}
#tweetContent {
  background-color: #F1F1F1;
  padding: 30px;
  width: 100%;
  margin: 0 auto;
}
#profileheader {
  margin: 0 auto;
  overflow: hidden;
  background-color: black;
  position: relative;
}
#profileheader .profile-picture {
  width: 100%;
  max-height: 320px;
  overflow: hidden;
  opacity: 1;
  background-color: black;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
#profileheader .profile-picture:hover {
  opacity: 0.3;
}
.infotext {
  background-color: #4dc2ff;
}
.infotext h2 {
  cursor: pointer;
}
.infotext table {
  margin-bottom: 0px;
  padding-bottom: 20px;
  margin: 0 auto;
}
.infotext td {
  width: 200px;
}
.infotext td:nth-child(1) {
  font-weight: bold;
  width: 150px;
}
.infotext tr.hiddenrow {
  display: none;
}
.infotext tr.hiddenrow2 {
  display: none;
}
.infotext span.folnum,
.infotext span.folnum2 {
  cursor: pointer;
}
.infotext span.folnum:hover,
.infotext span.folnum2:hover {
  color: #ffe681;
  font-weight: bold;
}
h2.profiletext {
  opacity: 0;
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
  padding: 0px;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  transition: 0.3s ease;
}
h2.profiletext:hover {
  opacity: 1;
}
h2.profiletext:hover .profile-picture {
  opacity: 0.3;
}
#profileheader:hover .profiletext {
  opacity: 1;
}
#profileheader img {
  width: 100%;
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
  background-color: black;
}
.infotext button {
  height: 40px;
  background-color: white;
  border: 0px solid;
  transition: 0.2s ease-in-out;
  text-transform: uppercase;
  font-weight: 400;
  cursor: pointer;
}
.infotext button:hover {
  background-color: #ffe681;
}
.followerbox {
  text-align: center;
  height: 40px;
  cursor: pointer;
}
.followerbox:hover {
  background-color: black;
  color: white;
}
.follow {
  background-color: #ffe681;
  content: "follow";
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
.follow:hover {
  background-color: black;
}
.unfollow {
  background-color: white;
  content: "unfollow";
  -webkit-transition: 0.4s ease;
  -moz-transition: 0.4s ease;
  transition: 0.4s ease;
}
.unfollow:hover {
  background-color: black;
}
h3#f {
  padding: 10px;
  margin-top: 0px;
  text-transform: uppercase;
}
/* TWEET SETTINGS */#tweetContent {
  padding: 0px;
  position: relative;
  min-height: 300px;
}
#tweetContent h2.noti {
  font-size: 20px;
  padding-top: 40px;
  color: black;
  font-weight: 100;
}
#tweetContent i.ion-sad-outline {
  font-size: 100px;
  text-align: center;
  margin: 0 auto;
}
#tweetContent i.ion-happy-outline {
  font-size: 100px;
  text-align: center;
  margin: 0 auto;
}
#tweetContent .nonoti {
  text-align: center;
}
.tweet {
  border-bottom: 1px solid white;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  min-height: 140px;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  transition: 0.7s ease;
}
.tweet:hover {
  background-color: #4dc2ff;
}
.tweet i {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #cad2d1;
}
.tweet i:hover {
  color: red;
}
.activeTweet {
  background-color: #ffe681;
}
.tweet a {
  font-weight: 600;
  font-size: 13px;
}
.tweet h3 {
  margin: 0;
}
.miniPicture img {
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 20px;
}
.miniPicture {
  position: relative;
  top: 30px;
  left: 30px;
}
.underTweet {
  display: none;
  background-color: #dfdfdf;
  padding: 20px;
  -moz-box-shadow: inset 0 0 20px #b5b5b5;
  -webkit-box-shadow: inset 0 0 20px #b5b5b5;
  box-shadow: inset 0px 0px 20px #b5b5b5;
}
.underTweet input[type="text"] {
  width: 60%;
  height: 33px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.underTweet button.submitAnswer {
  background-color: white !important;
  border: 0px solid;
  padding: 5px 10px;
  height: 30px;
  margin-top: 5px;
  margin-left: 10px;
}
.underTweet button.submitAnswer:hover {
  background-color: #4dc2ff !important;
}
.tweetImage {
  max-width: 100%;
  max-height: 100%;
  height: 140px;
  width: 25%;
  float: right;
  overflow: hidden;
  text-align: center;
}
.tweetImage img {
  width: 200px;
  position: relative;
  /* allows repositioning */

  left: 100%;
  /* move the whole width of the image to the right */

  margin-left: -200%;
}
.tweetImage:after {
  clear: both;
}
.tweetText {
  float: left;
  width: 70%;
  display: inline-block;
  position: relative;
  top: 20px;
  left: 30px;
}
.tweetText p {
  overflow-wrap: break-word;
  margin-top: 3px;
}
span.convoNumber {
  position: absolute;
  bottom: 10px;
  left: 5%;
  font-size: 10px;
}
span.convoNumber i {
  top: -7px;
  font-size: 16px;
  padding: 0px;
  color: black;
}
.tweetOpen {
  background-color: #dfdfdf;
}
#wrapper {
  margin-bottom: 40px;
}
.bigbox {
  background-color: rgba(0, 0, 0, 0.58);
  z-index: 2;
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
}
.lightbox {
  display: none;
  z-index: 1;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  margin-top: 10%;
  -webkit-transition: 1s ease;
  -moz-transition: 1s ease;
  transition: 1s ease;
}
.lightbox img {
  min-width: 300px;
  max-height: 500px;
  background-color: white;
}
.navmenubottom {
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  position: fixed;
  background-color: #ffe681;
  z-index: 4;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0px -5px 16px rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: 0px -5px 16px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 0px -5px 16px rgba(0, 0, 0, 0.61);
  -o-box-shadow: 0px -5px 16px rgba(0, 0, 0, 0.61);
}
.navmenubottom i {
  color: white;
}
.navmenubottom i:hover {
  color: black;
}
.navmenubottom .notNo {
  color: white;
}
.navmenubottom .notNo:hover {
  color: black;
}
.mobile {
  display: block;
  width: 100%;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 20px 10px rgba(200, 200, 200, 0);
}
.mobile #counter {
  float: none;
}
.mobile form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.mobile textarea {
  width: 100%;
  height: 100px;
}
.mobile input[type="submit"] {
  width: 60px;
  margin-top: 20px;
}
.mobile button {
  margin-top: 20px;
}
.mobile input[type="text"] {
  width: 70%;
}
.mobile h3 {
  margin-bottom: 10px;
  font-weight: bold;
}
.active {
  display: block;
}
.m {
  display: none;
}
.m form#postmobile {
  text-align: center;
  float: none;
  display: block;
  width: 300px;
  margin: 0 auto;
}
.mobile1-4 {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: inline-block;
}
.iconmobile {
  float: left;
  width: 25%;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}
.iconmobile i {
  text-align: center;
  font-size: 40px;
}
@media screen and (max-width: 1200px) {
  #wrapper {
    width: 60%;
  }
  h1.logo {
    font-size: 600px;
    margin-top: 10%;
  }
}
@media screen and (max-width: 1100px) {
  #wrapper {
    width: 70%;
  }
  h1.logo {
    display: none;
  }
}
@media screen and (max-width: 800px) {
  #wrapper {
    width: 98% !important;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .sidebar {
    display: none;
  }
  .navmenubottom {
    display: block;
  }
  .lightbox img {
    width: 100%;
    max-height: 500px;
    background-color: white;
  }
  .tweetImage {
    width: 20%;
  }
  .tweetText {
    width: 80%;
  }
}
@media screen and (max-width: 500px) {
  .tweetText {
    width: 80% !important;
  }
  .tweetText p {
    font-size: 12px;
  }
  .tweetImage {
    width: 10%;
  }
  .miniPicture {
    display: none;
  }
  .infotext table {
    font-size: 12px;
    padding-left: 20px;
    width: 80%;
  }
  #wrapper h2 {
    font-size: 16px;
  }
}
