@font-face {
    font-family: Logofont;
    src: url(../fonts/Rookies_Showtimes.otf);
}

// COLORS // 
@blue: #4dc2ff;
@yellow: #FFE681;
@darkgray: 	rgb(26, 26, 26);
@transparent: rgba(200, 200, 200, 0);
@lightgray: #CAD2D1;


.transition( @seconds, @type  ) {
  -webkit-transition: @seconds ease;
  -moz-transition: @seconds ease;
  transition: @seconds ease;       
}

.innerShadow(@value,@color) {
   -moz-box-shadow:    inset 0 0 @value @color;
   -webkit-box-shadow: inset 0 0 @value @color;
   box-shadow:         inset 0px 0px @value @color;
}

/* BASINSTÄLLNINGAR*/

html {
	// width: 100%;
	// height: 100%;
}

body {
	// width: 100%;
	// height: 100%;
	background-color: @darkgray;
	background-image: url("../images/twinkle_twinkle_@2X.png");
}

.hidden {
	display: none;

}


.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}


.clearfix {
	clear: both;
}

* {
	box-sizing: border-box;
	font-family: "open sans", arial;
	font-weight: 200;
	
}

input[type="submit"]{
	background-color: white !important;
	border: 0px solid;
	padding: 5px 10px;
	height: 20px;
	
	&:hover{
		background-color: @blue!important;
	}
}

button {
	cursor: pointer;
	background-color: white !important;
	border: 0px solid;
	padding: 5px 10px;
	height: 20px;
	&:hover {
		background-color: @blue !important;
	}
}

/* TEXT-INSTÄLLNINGAR */

p {
	font-family: "open sans", arial;
	font-size: 14px;
}

h2 {
	font-family: "open sans", arial;
	font-size: 30px;
	letter-spacing: 4px;
	text-transform: uppercase;
	text-align: center;
}

a {
	font-weight: 400;
	color: black;
	text-decoration: none;
}

a:hover {
	color: @blue;
}

/* LOGIN PAGE */

body#loginpage {
	background: url(../images/bgsilver.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

html#loginhtml {
}

.loginform {
	position: absolute;
	top: 10%;
	left: 100px;
}

#login input[type="text"], #login input[type="password"] {
	margin-bottom: 10px;
	height: 100px;
	width: 500px;
	font-size: 50px;
	padding: 20px;
	border-color: @darkgray;
	box-shadow: 0px;
	border-style: solid;
	border-width: 2px;
	background-color: @transparent !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px @transparent inset;
}

strong {
	font-weight: 400;
}

#login button {
	width: 500px !important;
	height: 50px !important;
	background-color: @yellow;
	border: 0px solid;
	font-size: 20px;
	color: @darkgray;
	text-transform: uppercase;
	transition: 0.3s ease;
	letter-spacing: 3px;
}

#login button:hover {
	background-color: @blue;

}

.logocontain {
	height: 900px;
}

h1.logo {
	font-family: "logofont";
	font-size: 900px;
	margin: 0px;
	position: absolute;
	right: -10px; 
	margin-bottom: 0px;
	height: 100%;
	color: $;
	font-weight: 100;
}

.loginform p {
	font-size: 17px;
	line-height: 150%;
	width: 500px;
}

.loginform p.member {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 5px;
	font-weight: 800;
}

input:focus { outline: none; }


// BECOME A MEMBER - BOX // 

section#loginform {
	overflow: hidden;
}

section#member-box {
	width: 700px;
	background-color: white;
	margin: 0 auto;
	margin-bottom: 200px;
	padding: 40px;
	padding-bottom: 80px;

	table {
		margin: 0 auto;
	}

	input[type="text"], input[type="password"] {
		width: 300px;
		height: 40px;
		font-size: 20px;
	}

	input[type="submit"] {
		width: 100%;
		height: 30px;
		background-color: @yellow !important; 
		&:hover {
			background-color: @blue !important;
		}
	}
}

.signup {
	cursor: pointer;
}

span.signup {
	font-weight: bolder;
	&:hover {
		color: @blue;
	}
}

/* PAGE */

.navigation-menu {
	text-align: center;
	margin: 0 auto;
	margin-bottom: 20px;
}

.navigation-menu a {
	margin-right: 60px;
	color: white;
	text-align: center;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: 2px;
	&:last-child {
		margin-right: 0px;
	}
	&:hover {
		color: @blue;
	}
}



// * ** *  *** * * **** SIDEBAR  * ** ** *  ****** / /// 

#right-sidebar {
	left: 0;
	top: 0;
}

#left-sidebar {
	right: 0;
	top: 0;
}

.sidebar {
	width: 330px;
	position: fixed;
	background-color: none;
	overflow: hidden;
	position: absolute;
	font-weight: bold;

	h3 {
		font-weight: bold;
		font-size: 15px;
		float: left;
	}
}

.left-flik, .right-flik{
	background-color: @yellow;
	margin-top: 50px;
	height: auto;
	overflow: auto;
	position: relative;
	cursor: pointer;
	padding: 20px;
	text-transform: uppercase;
	display: table;

	p {
		margin-bottom: 0px;
	}
}


.left-flik {
	left: 230px;
	position: relative;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.right-flik {
	right: 230px;
	position: relative;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

#left-sidebar i.icon {
	font-size: 50px;
	color: white;
	&:hover {
		color: black;
	}
} 

#right-sidebar i.icon {
	font-size: 50px;
	color: white;
	&:hover {
		color: black;
	}
} 

#searchResult h3 {
	float: none !important;
	margin: 5px;
}

#searchResult {
	margin-top: 15px;
}


.left-flik .row1 {
	position: relative;
	display: table-cell;
	vertical-align: middle;
	padding-left: 10px;

	width: 20%;
	top: 20%;
}

.left-flik .row2 {
	display: table-cell;
	width: 70%;
	padding-left: 20px;
}

.right-flik .row2 {
	position: relative;
	display: table-cell;
	width: 80%;
	top: 20%;
	width: 100%;
	padding-right: 20px;
}

.right-flik .row1 {
	display: table-cell;
	vertical-align: middle;
	padding-right: 10px;
	width: 20%;
}

.sidebar input[type="text"] {
	width: 90%;
	height: 20px;
	margin-bottom: 0px;
}
.sidebar textarea {
	width: 200px;
	height: 100px;
	font-size: 15px;
	padding: 10px;
}


.sidebar input[type="submit"]{
	background-color: white !important;
	border: 0px solid;
	padding: 5px 10px;
	height: 30px;
	margin-top: 5px;
	
	&:hover{
		background-color: @blue!important;
	}
}

#left-sidebar input[type="submit"] {
	float: left;
	margin-top: 5px;
}


.uploadFileButton:hover::before {
	background-color: @blue;
}

.uploadFileButton {
	width: 200px;
}

.uploadFileButton::-webkit-file-upload-button {
}

// EXTRA SIDEBAR SETTINGS

#counter {
	float: right;
	padding: 15px;
}

.hashtags {
	background-color: white;
	padding: 0px;
	margin-bottom: 5px;
	display: block;
	width: 90%;
	font-size: 13px;
	&:hover {
		background-color: @blue;
	}
	a {
		font-size: 11px;
		color: black;
	}
}
h4.trending {
	transform: rotate(-90deg);
	font-size: 30px;
	color: white;
	&:hover {
		color: black;
	}
}

#trending {
	display: block !important;
	h4 {
		text-align: center;
	}
}

#trending .row2 {
	width: 80%;
	display: inline-block;
	float: left;
}

#trending .row1 {
	width: 20%;
	display: inline-block;
	float: left;
	margin-top: 60px;
}

// NOTIFICATION NUMBER // 

.notNo {
	font-size: 50px;
	margin: 0px;
	color: red;
	font-weight: 900;
}






// * ** * *** * WRAPPER *  * * * * ** ** // 



img.logo {
	text-align: center;
	margin-bottom: 30px;
	margin-top: 20px;
}

#wrapper {
	width: 45%;
	margin: 0 auto;
	margin-top: 20px;
	position: relative;
}

#wrapper h1 {
	text-align: center;
}

#wrapper h2 {
	color: white;
	letter-spacing: 10px;
	font-size: 20px;
	margin: 0px;
	padding: 10px;
}

#tweetContent {
	background-color: #F1F1F1;
	padding: 30px;
	width: 100%;
	margin: 0 auto;
}

// - - - - -  PROFILBILD OCH INFO - - - - -- // 

#profileheader {
	margin: 0 auto;
	overflow: hidden;
	background-color: black;
	position: relative;
}

#profileheader .profile-picture {
	width: 100%;
	max-height: 320px;
	overflow: hidden;
	opacity: 1;
	background-color: black;
	.transition(0.4s,ease);
	&:hover {
		opacity: 0.3;
	}
}

.infotext {
	background-color: @blue;
	h2 {
		cursor: pointer;
	}
	table {
		margin-bottom: 0px;
		padding-bottom: 20px;
		margin: 0 auto;
	}
	td {
		width: 200px;
		&:nth-child(1) {
			font-weight: bold;
			width: 150px;
		}
	}
	tr.hiddenrow {
		display: none;
			}
	
	tr.hiddenrow2{
		display: none;
	}

	span.folnum, span.folnum2 {
		cursor: pointer;
		&:hover {
			color: @yellow;
			font-weight: bold;
		}
	}
}

h2.profiletext {
	opacity: 0;
	position: absolute;
	top: 40%;
	width: 100%;
	text-align: center;
	padding: 0px;
	.transition(0.3s, ease);
	&:hover {
		opacity: 1;
	}
}

h2.profiletext:hover .profile-picture{
	opacity: 0.3;
}

#profileheader:hover .profiletext {
	opacity: 1;
}

#profileheader img {
	width: 100%;
	.transition(0.4s, linear);
	background-color: black;
}

.infotext button {
	height: 40px;
	background-color: white;
	border: 0px solid; 
	transition: 0.2s ease-in-out;
	text-transform: uppercase;
	font-weight: 400;
	cursor: pointer;
	
	&:hover{
		background-color: @yellow;
	}
}

.followerbox {
	text-align: center;
	height: 40px;
	cursor: pointer;
	&:hover {
		background-color: black;
		color: white;
	}
}

.follow {
	background-color: @yellow;
	content: "follow";
	.transition(0.4s, ease-in-out);
	&:hover {
		background-color: black;
	}
}

.unfollow {
	background-color: white;
	content: "unfollow";
	.transition(0.4s, ease-in-out);
	&:hover {
		background-color: black;
	}
}

h3#f {
	padding: 10px;
	margin-top: 0px;
	text-transform: uppercase;
}



/* TWEET SETTINGS */ 

	#tweetContent {
		padding: 0px;
		position: relative;
		min-height: 300px;
		h2.noti {
			font-size: 20px;
			padding-top: 40px;
			color: black;
			font-weight: 100;
		}
		i.ion-sad-outline {
			font-size: 100px;
			text-align: center;
			margin: 0 auto;
		}
		i.ion-happy-outline {
			font-size: 100px;
			text-align: center;
			margin: 0 auto;
		}
		.nonoti {
			text-align: center;
		}
	}

	.tweet {
		border-bottom: 1px solid white;
		cursor: pointer;
		overflow: hidden;
		position: relative;	
		min-height: 140px;
		.transition(0.7s, ease);
		&:hover {
			background-color: @blue;
		}
		i {
			position: absolute;
			top: 10px;
			left: 10px;
			color: @lightgray;
			&:hover {
				color: red;
			}
		}

	}
	.activeTweet {
		background-color: @yellow;
	}

	.tweet a { 
		font-weight: 600;
		font-size: 13px;
	}
	
	.tweet h3 {
		margin: 0;
	}
	.miniPicture img {
	width: 70px;
	height: 70px;
	float: left;
	margin-right: 20px;

	}

	.miniPicture {
	position: relative;
	top: 30px;
	left: 30px;
	}

	.underTweet {
		display: none;
		background-color: rgb(223, 223, 223);
		padding: 20px;
		.innerShadow(20px,#B5B5B5);

		input[type="text"] {
			width: 60%;
			height: 33px;
			margin: 0 auto;
			margin-bottom: 10px;
		}
		button.submitAnswer {
			background-color: white !important;
			border: 0px solid;
			padding: 5px 10px;
			height: 30px;
			margin-top: 5px;
			margin-left: 10px;
			&:hover {
				background-color: @blue !important;
			}

		}
	}
	
	.tweetImage {
		max-width:100%;
		max-height:100%;
		height: 140px;
		width: 25%;
		float: right;
		overflow: hidden;
		text-align: center;
	}

	.tweetImage img {
		width: 200px;
		position: relative; /* allows repositioning */
   		 left: 100%; /* move the whole width of the image to the right */
    	margin-left: -200%;
	}

	.tweetImage:after{
		clear: both;
	}

	.tweetText {
		float: left;
		width: 70%;
		display: inline-block;
		position: relative;
		top: 20px;
		left: 30px;
		p {
			overflow-wrap: break-word;
			margin-top: 3px;
		}
	}

	span.convoNumber {
		position: absolute;
		bottom: 10px;
		left: 5%;
		font-size: 10px;
		i {
			
			top: -7px;
			font-size: 16px;
			padding: 0px;
			color: black;
		}
	}


	.tweetOpen {
		background-color: rgb(223, 223, 223);
	}

	#wrapper {
		margin-bottom: 40px;
	}

// * * * * ** ** * LIGHT BOX ** ** **** **  // 



.bigbox {
	background-color: rgba(0, 0, 0, 0.58);
	z-index: 2;
	display: none;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	position: fixed;
	top: 0;
	left: 0;
}

.lightbox {
	display: none;
	z-index: 1;
	margin: 0 auto;
	text-align: center;
	cursor: pointer;
	margin-top: 10%;
	.transition(1s,ease);
	img {
		min-width: 300px;
		max-height: 500px;
		background-color: white;
	}
}

.navmenubottom {

	bottom: 0;
	left: 0;
	display: none;
	width: 100%;
	position: fixed;
	background-color: @yellow;
	z-index: 4;
	text-align: center;
	margin: 0 auto;
	box-shadow: 0px -5px 16px rgba(0, 0, 0, 0.61);
	-webkit-box-shadow: 0px -5px 16px rgba(0, 0, 0, 0.61); 
	-moz-box-shadow: 0px -5px 16px rgba(0, 0, 0, 0.61); 
	-o-box-shadow: 0px -5px 16px rgba(0, 0, 0, 0.61); 
	
	i {
		color: white;
		&:hover {
			color: black;
		}
	}
	.notNo {
		color: white;
		&:hover {
			color: black;
		}
	}
}

.mobile {
	display: block;
	// padding-bottom: 10px;
	width: 100%;
	text-transform: uppercase;
	-webkit-box-shadow: 0 0 20px 10px @transparent;
		#counter {
		float: none;
	}
	form {
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
	textarea {
		width: 100%;
		height: 100px;
	}
	input[type="submit"] {
		width: 60px;
		margin-top: 20px;

	}
	button {
		margin-top: 20px;
	}
	input[type="text"] {
		width: 70%;
		
	}
	h3 {
		margin-bottom: 10px;
		font-weight: bold;
	}
}

.active {
	display: block;

}

.m {
	display: none;
	// height: 400px;

	form#postmobile {
		text-align: center;
		float: none;
		display: block;
		width: 300px;
		margin: 0 auto;
	}

}

.mobile1-4 {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	display: inline-block;

}

.iconmobile {
	float: left;
	width: 25%;
	margin: 0 auto;
	cursor: pointer;
	text-align: center;
	display: inline-block;
		i {
		text-align: center;
		font-size: 40px;
	}
}

@media screen and (max-width: 1200px) {
	#wrapper {
		width: 60%;
	}
		h1.logo {
		font-size: 600px;
		margin-top: 10%;
	}

}

@media screen and (max-width: 1100px) {
	#wrapper {
		width: 70%;
	}

	h1.logo {
		display: none;
	}

}

@media screen and (max-width: 800px) {
	#wrapper {
		width: 98% !important;
		margin: 0 auto;
		margin-bottom: 100px;
	}
		
	.sidebar {
		display: none;
	}

	.navmenubottom {
		display: block;
	}

	.lightbox {

		img {
			width: 100%;
			max-height: 500px;
			background-color: white;
		}
	}

	.tweetImage {
		width: 20%;
	}

	.tweetText {
		width: 80%;
	}

}


@media screen and (max-width: 500px) {
	.tweetText {
	width: 80% !important;
		p{
			font-size: 12px;
		}
	}

	.tweetImage {
		width: 10%;
	}

	.miniPicture {
		display: none;
	}

	.infotext table {
		font-size: 12px;
		padding-left: 20px;
		width: 80%;
	}

	#wrapper h2 {
		font-size: 16px;
	}
}


